cohere==5.15.0
Faker==37.3.0
huggingface-hub==0.32.6
numpy==2.3.0
pandas==2.3.0
pillow==11.2.1
plotly==6.1.2
pyarrow==20.0.0
pydantic==2.11.5
pydantic_core==2.33.2
pydeck==0.9.1
PyMySQL==1.1.1
pyodbc==5.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
SQLAlchemy==2.0.41
streamlit==1.45.1